@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(
        0deg,
        rgb(247,247,247) 23.8%,
        rgb(218, 210, 255) 92%
    );
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: flex-end; */
}
.musicContainer{
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 9px -1px #000000; 
    box-shadow: 0px 0px 9px -1px #000000;
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 50px 0;
    z-index: 10;
    
}
.imgcontainer{
    position: relative;
    width: 110px;
}
.imgcontainer::after{
    content: '';
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
#cover{
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;

    animation: rotate 3s linear infinite;

    animation-play-state: paused;
}
.musicContainer.play   #cover{
    animation-play-state: running;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.actionbtn{
    border: none;
    background-color: white;
    color: lightgray;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}
.big{
    color: gray;
    font-size: 30px;
}
.actionbtn:focus{
    outline: 0;
}
.musicinfo{
    background-color: rgba(255, 202, 202, 0.55);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.musicinfo h4{
    margin: 0;
}
.musicContainer.play .musicinfo{
    opacity: 1;
    transform: translateY(-100%);
}
.progressContainer{
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}
.progress{
    background-color: #6ab8d0;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}
/* contains the playlist and music container */
.card-container
{
   display: none;
   background-color: #a4508b;
   background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
   height: 270px;
   width: 450px;
   font-family: sans-serif;
   font-size: 10px;
   
}


.music-card{
    color: var(--color3);
    height:28%;
    width: inherit;
    position: relative;
    overflow: visible;

}

.cards{
    background-color: #5de6de;
    margin:5px;
    background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
    transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
    padding: 10px;
}

.cards:nth-child(1){
    position: relative;
	z-index: 2;
}

.cards:nth-child(2){
    z-index: 3;
}

.cards:nth-child(3){
    position: relative;
	z-index: 1;
}

.cards:hover {
	z-index: 4;
	box-shadow: 0px 0px 12px 0.1px rgb(15, 15, 15);
    
}

.music-card img{
    height: 20px;
    width: 20px;
    border-radius: 60%;
}

.card-title{        
    display: inline;
    padding: 7px;
    color: white;
    text-shadow: 2px 2px 8px #292626;
}

#music-btn{
    height:40px;
    width:40px;
    border-radius: 20px;
    background: linear-gradient(277deg, #f544f5, transparent);
}

#close-pl{
    height:30px;
    width:30px;
    background: linear-gradient(277deg, #f544f5, transparent);
}

.container{
   display: flex;
   justify-content: flex-start;
   /* flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start; */
}

.paint-box{
    margin-left: 50vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
canvas{
    background: #fff;
    border: 1px dashed;
    margin: auto;
}
a {
    display: inline-block;
    background: #69c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 100px;
}

.pen-tools{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 60%;
    margin: auto;
}

p {
    text-align: center;
}
.btn-clear{
    border: none;
    text-align: center;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: red;
    color: white;
}
.fa-refresh{
    margin-left:  10px;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.pen-size{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
}

.board {
    width: 800px;
    margin:auto;
}

.drawing-colors{
    display: flex;
    margin-bottom: 10px;
}

.color-circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 5px;
    border: 1px solid black;
    cursor: pointer;

}

.color-circle:nth-child(1){
    background-color: white;
}

.color-circle:nth-child(2){
    background-color: hotpink;
}

.color-circle:nth-child(3){
    background-color: orange;
}

.color-circle:nth-child(4){
    background-color: red;
}
.color-circle:nth-child(5){
    background-color: yellow;
}
.color-circle:nth-child(6){
    background-color: black;
}
.color-circle:nth-child(7){
    background-color: blue;
}

.color-circle:nth-child(8){
    background-color: white
}
.color-circle:nth-child(9){
    background-color: green
}



